{% extends 'Core.html' %}

{%  block content %}

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

        <div class="margin-top centered">
            <div class="contact" style="">
                <h2 style="font-family: 'Yu Gothic Light',serif">Contact</h2>
                    <div class="w3-container">
                         <hr>
                        <div id="contactLayout">
                            <p><i class="fa fa-fw fa-map-marker"></i> {{ contact.location }}</p>
                            <p><i class="fa fa-fw fa-phone"></i> {{ contact.phoneNumber }}</p>
                            <p><i class="fa fa-fw fa-envelope"></i> {{ contact.email }}</p>
                            <p> <i class="fa fa-facebook w3-hover-opacity w3-large"></i> {{ contact.facebook }}</p>
                            <p> <i class="fa fa-instagram w3-hover-opacity w3-large"></i> {{ contact.instagram }}</p>
                            <hr>
                            <br>
                        </div>
                    </div>
            </div>
        </div>
</div>

{% endblock %}