{% extends 'Core.html' %}

{%  block content %}

<!-- !PAGE CONTENT! -->
    {% for element in ProduktList %}
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/media/{{ element.obrazek.name }}" alt="Obrázek" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>{{element.Nazev}}</b></p>
        <p>cena: {{ element.cena }} Kč s DPH </p>
      </div>
    </div>
      {% endfor %}


<!-- End page content -->
</div>


{% endblock %}
